<!DOCTYPE html>
<html lang="en">

    <%- include("./partials/head.ejs") %>
    
<body>


    <div class="not-found content">
        404 - NotFound
    </div>
    
    <%- include("./partials/footer.ejs") %>
    <a href="/blogs">Go back to main?</a>

</body>
</html>