<!DOCTYPE html>
<html lang="en">

    <%- include("./partials/head.ejs") %>

<body>

    <%- include("./partials/nav_loged_out.ejs") %>

        <div id="main-container-signup">
            <div class="signup-title">Signup</div>
            
            <form action="/signup" method="post">                
                <label for="name">Name: </label>
                <input type="text" name="name" id="name">

                <label for="email">Email: </label>
                <input type="email" name="email" id="email">

                <label for="password">Password: </label>
                <input type="password" name="password" id="password">

                <button type="submit">Sign Up</button>
            </form>
            <p>You have and account? <a href="/login">Log in!</a></p>
        </div>
        
        <%- include("./partials/footer.ejs") %>
</body>
</html>